html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* text-decoration: none; */
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
th {
  background-color: #2AD3C7;
}
td,th {
  
  border-width: 2px;
  border-color: #000829;
  border-style: solid;
  padding: 8px;
  text-align: left;
  min-width: 80px;
}